fieldset.personalization {
  display: flex;
  flex-direction: column;
  border: none;
}

.img-sections {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

& .select-color {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  justify-items: center;

  margin-top: 1rem;
}

& .select-color input[type="radio"] {
  appearance: none;
  cursor: pointer;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.375rem solid var(--shape-button);

  margin-block: 0;
  padding: 0;
}

.color-wrapper {
  margin-bottom: 1.75rem;
}

.color-style input[type="radio"] {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

& .color-style input[type="radio"]:hover {
  border-color: var(--shape-hover);
}

& .color-style input[type="radio"]:checked {
  outline: 2px solid var(--brand-light);
}

& .color-style input[id="color1"] {
  background-color: var(--brand-light);
}

& .color-style input[id="color2"] {
  background-color: var(--navy);
}

& .color-style input[id="color3"] {
  background-color: var(--purple);
}

& .color-style input[id="color4"] {
  background-color: var(--fuschia);
}

& .color-style input[id="color5"] {
  background-color: var(--pink);
}

& .color-style input[id="color6"] {
  background-color: var(--danger);
}

& .color-style input[id="color7"] {
  background-color: var(--orange);
}

& .color-style input[id="color8"] {
  background-color: var(--yellow);
}

& .color-style input[id="color9"] {
  background-color: var(--lime);
}

& .color-style input[id="color10"] {
  background-color: var(--green);
}

& .color-style input[id="color11"] {
  background-color: var(--cyan);
}

.theme-wrapper {
  font: var(--body-sm);
  color: var(--text-body);

  & .theme-styles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
    gap: 0.5rem;

    margin-block: 1rem 1.75rem;    
  
    & .theme {
      position: relative;
      display: grid;
      justify-items: center;
      width: 8.475rem;
      background-color: var(--shape-button);
      border-radius: 0.5rem;
      border: 1px solid var(--shape-button);
      padding: 0.25rem;

      & img {
        margin-bottom: 0.5rem;
        width: 7.875rem;
        height: 4rem;
      }

      & label {
        margin-bottom: 0.25rem;

        font: var(--body-sm);
        color: var(--input-placeholder);
      }

      & input,
      input:hover,
      input:focus {
        all: unset;
        position: absolute;
        inset: 0;
      }

      & input[type="radio"]:checked {
        border: 1px solid var(--brand-light);
        border-radius: 0.5rem;
      }

      &:hover {
        background-color: var(--shape-hover);

        label {
          font: var(--body-sm);
          color: var(--text-heading);
        }
      }
    }
  }
}

.titles-switch {
  display: grid;
  /* position: relative; */

  grid-template-columns: 14.1rem 1fr;
  align-items: center;
}

.switch-wrapper {
  display: grid;
  position: relative;

  grid-template-columns: 4rem 10rem 7.438rem 13.5rem;
  align-items: center;
  
  & input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 4rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 1rem;

    cursor: pointer;
  }

  & button {
    position: absolute;
    top: -50%;
    left: 0;
    transform: translateY(50%);

    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--input-stroke);
    border-radius: 0.75rem;
    border: none;

    top: 0.3rem;
    left: 0.3rem;
    transition: 0.4s;
  }
  
  & input[type="checkbox"]:checked {
    background-color: var(--brand-light);

    & + button {
      top: 0.3rem;
      left: 2.2rem;
      transition: 0.3s;

      background-color: var(--brand-light);
      background-color: var(--text-heading);
    }
  }

  
  span::before {
    content: 'Escuro';
    position: relative;
    left: 0.75rem;
    
    
  }
  
  input[type="checkbox"]:checked + button + span::before {
    content: 'Claro';
    position: relative;
    left: 0.75rem;
  }
  
  #file-upload {
    display: none;
    
  }

/* Estilo personalizado para o rótulo que simula o botão de upload */
  .custom-file-upload {
    display: flex;
    position: relative;
    border: 1px solid #ccc;
    padding: 0.656rem 0.75rem;
   
    background-color: var(--shape-button);
    border: none;
    border-radius: 0.5rem;
    gap: 0.5rem;
    cursor: pointer;
    
  }

  p {
    
    font: var(--body-sm);
    color: var(--input-placeholder);
    margin-block: 0.813rem;
    margin-left: 0.75rem;
  }


}

 