fieldset.information {
  display: flex;
  flex-direction: column;
  border: none;
}

& legend {
  position: relative;
  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 1.5rem;

  padding-left: 2.25rem;
}

.img-sections {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  display: block;
  font: var(--body-sm);
  color: var(--text-body);
}

input {
  height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--input-stroke);
  font: var(--body-sm);
  color: var(--input-placeholder);

  background-color: var(--input-base);
}

& input:hover,
input:active,
input:focus {
  border-radius: 0.5rem;
  border: 0.063rem solid var(--brand-light);
  outline: none;

  font: var(--body-sm);
  color: var(--text-heading);
}

.input-wrapper:hover input::placeholder {
  font: var(--body-sm);
  color: var(--text-heading);
}

.flex-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;

  & input[type="datetime-local"] {
    position: relative;
  }

  & ::-webkit-calendar-picker-indicator {
    position: absolute;

    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.selector-event {
  display: flex;
  padding: 0.25rem;
  border: 0.063rem solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.656rem 1.125rem 0.656rem 1.125rem;
  width: 100%;

  border-radius: 0.313rem;
  cursor: pointer;
  gap: 0.5rem;
}

& label.option {
  margin-bottom: 0;
  align-items: center;
  text-align: center;

  font: var(--body-sm);
  color: var(--input-placeholder);
}

input[type="radio"] {
  display: none;
}

& .option:hover,
  .option:focus {
  font: var(--body-sm);
  color: var(--text-heading);

  svg path {
    fill: var(--brand-light);
  }
}

input[type="radio"]:checked + .option {
  background-color: var(--shape-hover);

  svg path {
    fill: var(--brand-light);
  }
}

textarea {
  display: block;
  width: 100%;
  height: 8.5rem;
  margin-bottom: 3rem;

  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--input-stroke);
  background-color: var(--input-base);

  font: var(--body-sm);
  color: var(--input-placeholder);
  margin-block: 0.75rem 3rem;
}

& textarea:hover,
textarea:active,
textarea:focus {
  border-radius: 0.5rem;
  border: 0.063rem solid var(--brand-light);
  outline: none;

  font: var(--body-sm);
  color: var(--text-heading);
}

& textarea:focus::placeholder,
textarea:hover::placeholder {
  font: var(--body-sm);
  color: var(--text-heading);
}
