fieldset.personalization {
  display: flex;
  flex-direction: column;
  border: none;
}

.img-sections {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

& .select-color {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  justify-items: center;

  margin-top: 1rem;
}
.select-color {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  justify-items: center;
  margin-top: 1rem;
}

.select-color input[type="radio"] {
  appearance: none;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.375rem solid var(--shape-button);

  margin-block: 0;
  padding: 0;
}

.color-wrapper {
margin-bottom: 1.75rem;
}

.color-style input[type="radio"] {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

& .color-style input[type="radio"]:hover {
  border-color: var(--shape-hover);
}

& .color-style input[type="radio"]:checked {
  outline: 2px solid var(--brand-light);
}

& .color-style input[id="color1"] {
  background-color: var(--brand-light);
}

& .color-style input[id="color2"] {
  background-color: var(--navy);
}

& .color-style input[id="color3"] {
  background-color: var(--purple);
}

& .color-style input[id="color4"] {
  background-color: var(--fuschia);
}

& .color-style input[id="color5"] {
  background-color: var(--pink);
}

& .color-style input[id="color6"] {
  background-color: var(--danger);
}

& .color-style input[id="color7"] {
  background-color: var(--orange);
}

& .color-style input[id="color8"] {
  background-color: var(--yellow);
}

& .color-style input[id="color9"] {
  background-color: var(--lime);
}

& .color-style input[id="color10"] {
  background-color: var(--green);
}

& .color-style input[id="color11"] {
  background-color: var(--cyan);
}

.select-theme {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  border: 1px solid red;
}