* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Brand Colors*/

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /*Accent Colors*/

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /*Feedback Color*/

  --danger: #ff5959;

  /*Input Colors*/

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /*Shape Colors*/

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /*Text Colors*/

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /*Tipografia*/

  --font-family-lo: "Leckerli One", cursive;
  --logo: 400 2.5rem/100% var(--font-family-lo);

  --font-family-bl: "Baloo 2", sans-serif;
  --heading-md: 700 1.75rem/100% var(--font-family-bl);
  --heading-sm: 700 1, 125rem/100% var(--font-family-bl);

  --font-family-os: "Open Sans", sans-serif;
  --body-md: 500 1rem/100% var(--font-family-os);
  --body-sm: 500 0, 875rem/100% var(--font-family-os);
  --body-xs: 500 0, 75rem/100% var(--font-family-os);
}
