main {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  max-width: 55rem;
  height: 100vh;
  overflow: auto;
}

.main-brand {
  padding: 5rem 8.125rem 5rem 8.125rem;
  border-radius: 0.75rem;
  background-color: var(--shape-body);
}

h1 {
  font: var(--heading-md);
  color: var(--text-heading);
  margin-bottom: 2.5rem;
}
